.searchBox {
    font-size: 1.2em;
    color: #f8f8f8;
    padding-left: 15px;
    caret-color: black;
    background-color: #ffffff00;
    border: 2px solid #171a21;
}

.searchBox::selection {
    color: #171a21;
}

.searchBox:invalid ~ .resetButton {
    display: none;
}

.searchBox:focus {
    outline: 0;
}

.resetButton {
    position: relative;
    left: -50px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid transparent;
    background-color: #ffffff00;
    border-radius: 50%;
    outline: 0;
}
