.container {
    display: flex;
    color: #868686
}

.placeholder {
    display: none;
    position: relative;
    top: 50%;
    margin: auto 100px;
    color: #868686;
    font-size:  2em; 
    transform: translateY(-50%);
}

@media screen and (max-width: 900px) {
    .containter {
        flex-direction: column;
    }
}
