.container {
    display: flex;
}

.container input[type=radio] {
    display: none;
}

.disabled {
    filter: grayscale(1);
}

label {
    margin: 3px;
    border: 2px solid #171a21;
    background-color: #407599;
    padding: 2px 16px;
    margin-right: -5px;
    cursor: pointer;
}

input:checked+label {
    background-color: #171a21;
}