.header
{
    display: flex;
    align-items: center;
    background-color: #407599;
}

.icon {
    width: 48px;
    height: 48px;
    margin-left: 30px;
}

.projectMode {
    padding: 10px;
    background-color: #407599;
}

.calcZone {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .calcZone {
        flex-direction: column;
    }
}
